@model PGD.Application.ViewModels.ProdutoViewModel
@using (Ajax.BeginForm("AtualizaObservacaoProduto", "Pacto", new AjaxOptions() { OnSuccess = "alterarObservacaoProdutoSuccess", OnFailure = "defaultFailureHandler" }))
{
    @Html.HiddenFor(m => m.IdProduto)
    @Html.HiddenFor(m => m.IdPacto)

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @Html.AntiForgeryToken()
                <h4 class="modal-title">
                    Alterar Observação Produto
                </h4>

                <div id="page-content-wrapper" class="body-content">
                    <div id="divAlertaSupender" class="form-group alert alert-danger fade in hidden">
                        <label id="lblMsg"></label>
                    </div>
                </div>

            </div>
            <div class="modal-body">

                <div class="clearfix">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Observacoes)
                        @Html.TextAreaFor(m => m.Observacoes, new { @class = "form-control", @type = "text", @cols = "5", @rows = "10", @required = "true" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type='button' class='btn btn-md btn-primary pull-left' data-dismiss="modal">
                            &nbsp;Cancelar
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class='btn btn-md btn-primary pull-right'>
                            &nbsp;Atualizar
                        </button>
                    </div>
                </div>

                <div class="clearfix">

                </div>
            </div>
        </div>
    </div>

}