@using PGD.Application.ViewModels
@using PGD.Domain.Entities
@using PGD.Domain.Entities.RH
@model IEnumerable<PGD.Application.ViewModels.Unidade_TipoPactoViewModel>

@{
    ViewBag.Title = "Gerenciar Tipos de Plano de Trabalho por Unidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gerenciar tipos de plano de trabalho por unidade</h1>

@Html.Partial("_SearchPartial", new Unidade_TipoPactoViewModel())

@if (Model.Count() == 0)
{
    <h4 class="col-md-12 text-center">@PGD.Domain.Constantes.Mensagens.ME_003</h4>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered tableFilter">
            <thead>
                <tr>
                    <th class="text-center">Unidade</th>
                    <th class="text-center">Plano de Trabalho</th>
                    <th class="text-center">Permite plano de trabalho no exterior?</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td class="text-center">@(((List<Unidade>)TempData["lstUnidade"]).Where(a => a.IdUnidade == obj.IdUnidade).Select(a => a.Nome).First())</td>
                        <td class="text-center">@(((List<TipoPacto>)TempData["lstTipos"]).Where(a => a.IdTipoPacto == obj.IdTipoPacto).Select(a => a.DescTipoPacto).First())</td>
                        <td class="text-center">@(obj.IndPermitePactoExterior ? "Sim" : "Não")</td>
                        <td class="text-center">
                            <a href="@Url.Action("Create", new { id = obj.IdUnidade_TipoPacto })" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                            <a href="@Url.Action("Delete", new { id = obj.IdUnidade_TipoPacto })" class="btn btn-xs btn-danger" onclick="return confirm('@PGD.Domain.Constantes.Mensagens.MD_002');"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts{
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/datatables.globalization.js"></script>
}